/* body design */
body
{
    margin: 0;
    padding: 0;

}

.landingContent
{
    width: 100vw;
    height: 100vh;
    position: relative;

}
/* image div for the background */
.bg
{
    width: 100vw;
    height: 100vh;
    opacity: 0.355;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgb(132, 117, 228);
}

/* image for the background */
.landingImage
{
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    object-position: center;
    max-height: 100vh;
}
 .landingMessage
{
    position: absolute;
    left: 0;
    top: 35vh;
    width: 100vw;
    text-align: center;
}

.landingLogo
{
    /* background-color: red; */
    width: 30vw;
    height: 20vh;
    border: none;
}
.text-responsive
{
    font-size: 5vh;
}
.btn-responsive
{
    font-size: 2vh;
}

/* reponsiveness */
@media screen and (width: 414px)
{
    .landingMessage
    {
        top: 30vh;
    }
}