
.blur{
    margin: 0px;
    padding: 0px;
    background-image: url(../img/dark-mode-01.jpg);
    background-size: cover;
    background-position: center center;
    font-family: sans-serif;
    height: 100vh;
    -webkit-background-size: cover;
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;
    /* filter: blur(8px); */
}
label{
    color: whitesmoke;
}
.loginBox{
    /* background-color: black; */
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 350px; */
    /* height: 440px; */
    box-sizing: border-box;
    background: rgba(0,0,0,.5);
    /* background: rgba(167, 163, 163, 0.5); */
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.5);
}
